<nav class="grey darken-3">
 <div class="container">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="/assets/img/banner-ico.png" width="40px" alt="" srcset="">Spotiapp</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/search">search</a></li>
        </ul>
      </div>
 </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/search">search</a></li>
  </ul>