.container{
    .nav-wrapper{
        a{
            position: relative;
            img{
                position: absolute;
                right: 130px;
                top: 13px;
            }
        }
        
    }
  
}
