<app-loading *ngIf="loading"></app-loading>
<div class="row" *ngIf="!loading" style="position: relative;">
    <div class="col-2" style="margin-top: 50px;">
        <img style="width: 100px;" [src]="artista.images | noimage" alt="" class="circle responsive-img">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la pagina del artisa
            </a>
        </p>
    </div>
    <div style="position: absolute; top: 0; right: 0;">
        <a style="margin-left: 100px;" class="waves-effect waves-light btn" routerLink="/search">Regresar</a>
    </div>
</div>

<ul class="collection">
    <li class="collection-item avatar" *ngFor="let track of topTracks">
        <div class="row">
            <div class="col s6">
                <img [src]="track.album.images| noimage" alt="" class="circle">
                <span class="title" style="color: black;">Album: {{track.album.name}}</span>
                <p style="color: black;">Track: {{track.name}}</p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </div>
            <div class="col s6">
                <audio [src]="track.preview_url" controls></audio>
            </div>
        </div>
    </li>
</ul>